*{
    margin: 0%;
    padding: 0%;
    
}
.cabecalho{
    background-color: #540099;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lista-cabecalho{
    color: white;
    font-size: 23px;
}

.lista-item{
    display: inline-block;
    padding: 15px;
}

.primeira-parte{
    background-image: linear-gradient(#540099,rgb(176, 79, 255));
    height: 500px;
    padding: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.primeiro-paragrafo{
    padding: 15px;
}

.segundo-paragrafo{
    padding: 15px;
}

.educacao{
    width: 25%;
}

.oi{
    width: 25%;
}
